.button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 12px;

  &--primary {
    color: #fff;
    background-color: #000;
  }

  @media (max-width: 1024px) {
    display: flex;
    align-items: center;
  }

  @media (max-width: 640px) {
    display: block;
    width: 100%;
  }
}
